.Header {
    background: linear-gradient(rgb(137, 252, 252), rgb(90, 146, 146));
    color: rgb(99, 25, 99);
    /*text-align:center;
    min-height: 50vh;
    margin: 0;
    padding: 0;*/
    margin-top: 0px;
    height: 47vh;
}

.title {
    position: relative;
    text-align: center;
    line-height: 30vh;
    font-size: 3em;
    background: linear-gradient(to right, rgb(99, 25, 99), blueviolet);
    background-clip: text;
    color: transparent;
}

.cloud {
    width: 900px;
    height: 89px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: -100px;
  }
  
  #cloud-1 {
    top: 0px;
    height: 40px;
    filter: url(#filter-1);
    fill: #fff;
    opacity: 0.9;
    box-shadow: 200px 170px 17px 45px rgba(255, 255, 255, 0.9);
  }

  #cloud-2 {
    top: 0px;
    height: 20px;
    filter: url(#filter-2);
    box-shadow: 200px 150px 19px 17px rgba(255, 255, 255, 0.9);
  }

  #cloud-3 {
    top: 70px;
    right: 300px;
    width: 30px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    filter: url(#filter-3);
    box-shadow: 50px 50px 35px 17px rgba(255, 255, 255, 0.9);
  }

  /* #cloud-4 {
    top: 70px;
    right: 5.5vh;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    filter: url(#filter-4);
    box-shadow: 200px 150px 19px 17px rgba(255, 255, 255, 0.9);
  }  */
