.Header {
    background: linear-gradient(rgb(137, 252, 252), rgb(90, 146, 146));
    color: rgb(99, 25, 99);
    /*text-align:center;
    min-height: 50vh;
    margin: 0;
    padding: 0;*/
    margin-top: 0px;
}

.title {
    text-align: center;
    line-height: 30vh;
    font-size: 3em;
}