.SignInComponent {
    margin-top: 50px;
    border-style: solid;
    width: fit-content;
    border-radius: 7%;
    border-color: blueviolet;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: white;
}

button, input {
    margin: 10px;
}

label, input {
    color: blueviolet;
}

input {
    border-color: blueviolet;
    color: blueviolet;
    transition: 2ms;
}

input:hover{
    background-color: lightskyblue;
}

input:active{
    background-color: rgb(232, 223, 233);
}

button {
    border-style:inset;
    border-width: 3px;
    border-color: blueviolet;
    background: transparent;
    color: blueviolet;
    border-radius: 5%;
    transition: 3ms;
}

button:hover{
    background: linear-gradient(to right, lightblue, lightskyblue);
    background-clip: text;   
    color: transparent;
    border-color: lightskyblue;
}

button:active{
    color: rgb(210, 247, 248);
    border-color: rgb(210, 247, 248);
}