.SignInComponent {
    /*display: flex;
    flex-direction: row;*/
    margin-top: 50px;
}

button, input {
    margin: 10px;
}

label, input {
    color: blueviolet;
}

button {
    border-style:inset;
    border-width: 3px;
    border-color: blueviolet;
    background: liniear-gradient(lightyellow, transparent);
    color: blueviolet;
    border-radius: 5%;
}