img {
    max-width: 700px;
    margin-top: 20px;
    border-radius: 10px;
    
}

img:hover{
    filter: brightness(60%);
}

img {
    margin-top: 20px;
    transition: 4ms;
    border-style: ridge;
    border-color: lightblue;
}

ul {
    list-style: none;
}

hr {
    border-color: purple;
}

footer {
    color: lightskyblue;
}

.image{
    width: fit-content;
    margin: auto;
}

.image-details{
    display: flex;
    flex-direction: row;
    
}