.star {
    max-width: 100px;
    margin-top: 0px;
    border-style: none;
}
.liked {
    color: rgb(236, 236, 6);
    margin: 0px;
}

.LikeButton{
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

.likebutton{
    height: fit-content;
    margin: auto;
}