.App {
  text-align: center;
  padding: 0px;
  display: flex;
  flex-direction: column;

  height: screen;
}

#star-1{
  width: 1px;
  height: 1px;
  /* top: 200px;
  left: 100px; */
  
  position: absolute;
  top: 70vh;
  left: 5vw;
  border-radius: 50%;

  filter: url(#filter-star-1);
  
  box-shadow: 5px 5px 50px 15px rgb(235, 235, 72);
}

#star-2{
  width: .1px;
  height: .1px;
  /* top: 200px;
  left: 100px; */
  
  position: absolute;
  top: 70vh;
  left: 5vw;
  border-radius: 50%;

  filter: url(#filter-star-1);
  
  box-shadow: 1px 1px 5px 2px rgb(243, 243, 230);
}

